/* Colors */
:root {
  //Primary Gradient
  --color-soft-purple: hsl(236, 72%, 79%);
  --color-purple: hsl(237, 63%, 64%);

  //bg
  --color-bg: #f7f7fe;

  //Neutral
  --color-vl-grayisblue: hsl(240, 78%, 98%);
  --color-l-grayishblue: hsl(234, 14%, 74%);
  --color-grayishblue: hsl(233, 13%, 49%);
  --color-d-grayishblue: hsl(232, 13%, 33%);

  --color-white: hsla(360, 100%, 100%, 1);
}
